* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #333366;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.items {
    color: black;
    padding: 2rem;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.sect1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video__bienvenida {
   width: 80%;
   border-radius: 10%;

  }

  .initialtext {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    margin: 4rem;
  }

  .sect2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  img {
    width: 50%;
    border-radius: 10%;
    
  }

  .sect3 {
    background-size: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    border: 5px solid black;
    
  }

  .testimony {
    background-color: #333366;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: solid 1px black;
    
    
  }

.alumn {
    width: 40%;
    height:40%;
    border-radius: 50%;
    margin: 1rem;
  }

.name {
    font-size: 20px;
    font-family: 'Edu QLD Beginner';
    color: wheat;
  }


.testimony__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

.sect4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aquamarine;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  
}

.videos__contenido {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#form {
  margin: 10px;
  width: 500px;
  height: 30px;
}

#coment {
  margin: 10px;
  width: 500px;
  height: 100px;
}

.videos__prof {
  width: 400px;
}

.videos__text {
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin: 1rem;
}