* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: black solid 3px;
    border-radius: 2%;
}

.items {
    color: black;
    padding: 2rem;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.sect1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
   width: 80%;
   border-radius: 10%;

  }

  .initialtext {
    font-size: 3rem;
    margin: 4rem;
  }

  .sect2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

img {
    width: 50%;
    border-radius: 10%;
    
  }

  .sect3 {
    background-size: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 3rem 0;
    border-radius: 5px;
    margin-top: 1rem;
  }

  .testimony {
    background-color: #333366;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: solid 1px black;
    border-radius: 15%;
    margin: 10px;
  }

  .alumn {
    width: 40%;
    height:40%;
    border-radius: 50%;
    margin: 1rem;
  }

  .name {
    font-size: 20px;
    font-family: 'Edu QLD Beginner';
    color: wheat;
  }


.testimony__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

.comillas {
    width: 40px;
    margin-left: -50%;
}