* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #333366;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    align-items: center;
    
}

.items {
    color: white;
    padding: 2rem;
    font-size: 25px;
}

a {
    text-decoration: none;
    list-style: none;
}

.items:hover {
  transform: scale(1.1);
}

.sect1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video__bienvenida {
   width: 80%;
   border-radius: 10%;

  }

  .initialtext {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    margin: 4rem;
  }

  .sect2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  img {
    width: 50%;
    border-radius: 10%;
    
  }

  .sect3 {
    background-size: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    border: 5px solid black;
    
  }

  .testimony {
    background-color: #333366;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: solid 1px black;
    
    
  }

.alumn {
    width: 40%;
    height:40%;
    border-radius: 50%;
    margin: 1rem;
  }

.name {
    font-size: 20px;
    font-family: 'Edu QLD Beginner';
    color: wheat;
  }


.testimony__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

.sect4 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: auto;
  padding-bottom: 8rem;
  padding-top: 0 ;
  background-color: #FBFCFC;

}


.videos__contenido {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#form {
  margin: 10px;
  width: 500px;
  height: 30px;
}

#coment {
  margin: 10px;
  width: 500px;
  height: 100px;
}

.videos__prof {
  width: 600px;
  border-radius: 1.5%;
  margin-top: 6rem;
}

.videos__prof:hover {
  transform: scale(1.1);
}

.videos__text {
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 6rem;
  font-weight: bold;
}

.footer {
 display: flex;
 flex-direction: row;
 align-items: center; 
 justify-content: center;
 width: 100%;
 height: 250px;
 background-color: #333366;
}

.footer__redes {
  display: flex;
  flex-direction: row;
  margin: 9rem;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__nav-items {
  color: white;
  font-size: 20px;
  font-family:'Roboto Condensed', sans-serif;
  padding: 5px;
  font-weight: bold;
}

.footer__nav-items:hover {
  transform: scale(1.2);
}

.contacto {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f0;
  padding: 1rem;
}

.contacto__redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 2rem;
}

.contacto__redes-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FBFCFC;
  width: 400px;
  height: 350px;
  padding: 2rem;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.contacto__redes-text {
  padding: 5px;
  font-family: 'Oswald', sans-serif;
  color: #212121;
}

#titulo {
  font-size: 2rem;
}

#subtitulo {
  font-size: 1.3rem;
 
}

.iconoredes {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.contacto__form {
  margin-right: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#datos {
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  width: 45%;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  border-radius: 2px;
  border: white 1px solid;
}

#textarea {
  width: 92%;
  height: 45%;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
  border: white 1px solid;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

#mensaje {
  padding-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #212121;
  border-radius: 5px;
  
}

#enviar {
  font-size: 1rem;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #212121;
  background-color: white;
  border: 1px solid white;
}

#enviar:hover {
  background-color: #333366;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  
}
/*Hasta 320px como referencia aprox. */
@media screen and (max-width: 600px) {
  .initialtext {
    font-size: 2rem;
    margin: 10px;
    text-align: center;
  }

  .img__bienvenida {
    width: 250px;
  }
}

.sect3 {
  flex-direction: column;
  width: 320px;
}

.testimony {
  width: 310px;
  height: 320px;
}

.testimony__text {
  font-size: 15px;
}

.sect4 {
  flex-direction: column;
  width: 340px;
  margin: 0;
}

.videos__contenido {
  width: 340px;
}

.videos__text {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.videos__prof {
  width: 340px;
}